<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Manager</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="dark-mode">
<div class="main-container">
    <div class="main-left-section">
        <a th:href="@{https://www.instagram.com/sin_climbing/}" target="_blank" class="instagram-link">
            <div class="left-background-image"></div>
        </a>
    </div>
    <div class="main-right-section">
        <div class="login-card">

            <img th:src="@{/images/CrewManager.png}" alt="Crew Manager Logo" class="crew-logo">

            <form th:action="@{/login}" method="post" class="login-form">
                <input type="text" name="identifier" placeholder="이메일 주소 또는 전화번호" required class="input-field">
                <input type="password" name="password" placeholder="비밀번호" required class="input-field">
                <button type="submit" class="btn primary-btn">로그인</button>
            </form>

            <div class="divider">또는</div>

            <a th:href="@{#}" class="btn kakao-login-btn">카카오톡으로 로그인</a>
            <a th:href="@{#}" class="forgot-password-link">비밀번호를 잊으셨나요?</a>

        </div>
        <div class="signup-card">
            <p>계정이 없으신가요? <a th:href="@{/signup}">가입하기</a></p>
        </div>
    </div>
</div>
</body>
</html>