<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입 - Crew Manager</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="dark-mode">
<div class="login-page-container">
  <div class="login-card">
    <img th:src="@{/images/CrewManager.png}" alt="Crew Manager Logo" class="crew-logo">

    <form th:action="@{/signup}" method="post" class="login-form">
      <input type="email" placeholder="휴대폰 번호 또는 이메일 주소" required class="input-field">
      <input type="text" placeholder="성명" required class="input-field">
      <input type="text" placeholder="사용자 이름" required class="input-field">
      <input type="password" placeholder="비밀번호" required class="input-field">
      <button type="submit" class="btn primary-btn">가입</button>
    </form>
    <div class="divider">또는</div>
    <a th:href="@{#}" class="btn kakao-login-btn social-signup-btn">카카오톡으로 회원가입</a>

  </div>
  <div class="signup-card">
    <p>계정이 이미 있으신가요? <a th:href="@{/login}">로그인</a></p>
  </div>
</div>
</body>
</html>